<html lang="en">

<head>
<meta charset="utf-8">
<title>ma1chez's website</title>
<link rel="stylesheet" href="~/css/Style.css">
</head>
<body>
    <header>
        <a href="#" class="logo">Ma1chez</a>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </header>
    <section>

    </section>
</body>
</html>
